body {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: 'Roboto', Helvetica, sans-serif;}
h1{
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(13, 178, 255);
}
p{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 255, 247);
}
